<header>
  <h1>👊 Chuck Norris App 👊</h1>
  <figure><img src="assets/chuck-norris-logo.jpg" alt="Chuck Norris approves!"></figure>
</header>
<main>
  <div role="status" class="status-area">
    <div *ngIf="(joke$ | async) as joke">
      <ng-container [ngSwitch]="joke.status">
        <div *ngSwitchCase="'loading'" class="spinner-border">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div *ngSwitchCase="'error'" class="alert alert-danger">
          an error occurred: {{explain(joke.error)}}
        </div>
        <div *ngSwitchDefault>
          {{joke.data}}
        </div>
      </ng-container>
    </div>
  </div>
  <div>
    <button class="btn btn-primary" (click)="refreshJoke()">Refresh</button>
  </div>
</main>
