<header>
  <h1>Welcome to my app</h1>
  <figure>
    <img src="/assets/chuck-norris-logo.jpg" alt="Chuck Norris approves">
  </figure>
</header>
<main>
  <div role="status" class="status">
    <ng-container *ngIf="(jokeText$ | async) as jokeText; else loadingIndicator">
      <div *ngIf="jokeText.type === 'success'">{{jokeText.text}}</div>
      <div *ngIf="jokeText.type === 'error'" class="alert alert-danger">{{jokeText.error.message}}</div>
    </ng-container>
  </div>
  <button (click)="refreshJoke()" class="btn btn-primary">Refresh</button>
</main>

<ng-template #loadingIndicator>
  <div class="spinner-border">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>
